html, head, body, header, footer, div, article, section, nav, figure, figcaption, img, aside, ul, ol, li, span, hgroup, h1, h2, h3, h4, h5, h6, p, a, table, form, label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}